{% load staticfiles %}
<!--登录-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="loginModalLabel">登录</h4>
    </div>
    <div class="modal-body">
        <form method="post">
            {% csrf_token %}
        <section class="box-login v5-input-txt" id="box-login">
          <ul>
            <li class="form-group has-error"><input id="login_email" name="login_email" type="text" class="form-control" placeholder="请输入邮箱账号/手机号"></li>
            <li class="form-group"><input id="login_password" name="login_password" type="password" class="form-control" placeholder="请输入密码"></li>
            <li><input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}"></li>
          </ul>
            <p class="good-tips"><a href="#" data-toggle="modal" data-target="#forgetpswModal" id="btnForgetpsw" class="fr">忘记密码？</a>还没有账号？<a href="{% url 'users:register' %}" id="btnRegister">立即注册</a></p>
          <div>
            <button id="login_submit" type="button" class="btn btn-micv5 btn-block">登录</button>
          </div>
          <div id="login_error_notify" class="tips-error bg-danger">错误提示</div>
        </section>
        </form>
    </div>
</div>
  </div>
</div>

<!--找回密码-->
<div class="modal fade" id="forgetpswModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="forgetpswModalLabel">找回密码</h4>
      </div>
      <div class="modal-body">
        <section class="box-forgetpsw v5-input-txt" id="box-forgetpsw">
          <ul>
            <li class="form-group has-error"><input id="forget_email" name="forget_email" type="text" class="form-control" placeholder="请输入注册邮箱账号或手机号码"></li>
          </ul>
          <div>
            <button id="forget_submit" type="button" class="btn btn-micv5 btn-block">提交</button>
          </div>
          <div id="forget_error_notify" class="tips-error bg-danger">错误提示</div>
        </section>
      </div>
    </div>
  </div>
</div>

<!--注册-->
<!--div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="registerModalLabel">注册</h4>
      </div>
      <div class="modal-body">
        <section class="box-register v5-input-txt" id="box-register">
          <ul class="register-tabs" role="tablist">
            <li class="active"><a href="#register-email" role="tab" data-toggle="tab">邮箱注册</a></li>
            <li><a href="#register-mobile" role="tab" data-toggle="tab">手机注册</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="register-email">
                <div class="form-group"><input id="register_email" name="register_email" type="text" class="form-control" placeholder="请输入邮箱账号"></div>
              <div class="form-group"><input id="register_password" name="register_password" type="password" class="form-control" placeholder="请输入密码"></div>
              <div class="form-group cf"><input id="identify" name="identify" type="text" class="form-control form-control-captcha fl" placeholder="请输入验证码"><span class="v5-yzm fr"><a href=""><img src="{% static 'test/yzm.jpg' %}">换一张</a></span></div>
            </div>
            <div class="tab-pane" id="register-mobile">
            	<div class="form-group cf"><input type="text" class="form-control form-control-phone fl" placeholder="请输入手机号"><span class="fr"><button type="button" class="btn btn-micv5 btn-send">发送验证码</button></span></div>
              <div class="form-group"><input type="text" class="form-control" placeholder="请输入短信验证码"></div>
              <div class="form-group"><input type="password" class="form-control" placeholder="请输入密码"></div>
              <div class="form-group cf"><input type="text" class="form-control form-control-captcha fl" placeholder="请输入验证码"><span class="v5-yzm fr"><a href=""><img src="{% static 'test/yzm.jpg' %}">换一张</a></span></div>
            </div>
          </div>
          <p class="good-tips">已经有账号？<a href="#" data-toggle="modal" data-target="#loginModal" id="btnLogin">立即登录</a></p>
          <div>
            <button id="register_submit" type="button" class="btn btn-micv5 btn-block">注册并登录</button>
          </div>
          <div id="register_error_notify" class="tips-error bg-danger">错误提示</div>
        </section>
      </div>
</div>
  </div>
</div-->

<!--登陆后-->
<div class="show-card animated hidden" style="right: 0px;z-index: 999">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="td-userhd"><span class="user-pic"><img src="{{ request.user.avatar_small_thumbnall }}"></span></td>
      <td align="right" class="text-align-r">
        <a href="" class="link-default">{{ request.user.username }}</a>
        <div class="user-email">{{ request.user.email }}</div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><a href="{% url 'users:info_email' %}" class="btn btn-micv5 btn-md btn-block">进入个人中心</a></td>
    </tr>
    <tr>
      <td colspan="2"><a href="{% url 'users:logout' %}" class="link-cancel">注销</a></td>
    </tr>
  </table>
</div>